{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-9">
    <div class="content-section">
        <h3>Admin Login</h3>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Login</button>
                <a class="link-secondary small ms-2" href="#">Forgot Password?</a>
            </div>
        </from>
    </div>
</div>
{% endblock content %}